.env
.jshintrc
.prettierignore
junit.xml
node_modules
package-lock.json
reports/*
run.sh
src/assets/.!*!films_ids.txt
src/assets/.!*!series_ids.txt
src/assets/.vercel
src/assets/popularity_ids_*.txt
src/assets/skip_ids_*.txt
src/assets/updated_at.txt
src/controlData.js
temp_*