.env
.jshintrc
.prettierignore
.vscode
junit.xml
newrelic_agent.log
node_modules
package-lock.json
reports/*
src/assets/.!*!films_ids.txt
src/assets/.!*!series_ids.txt
src/assets/.vercel
src/assets/popularity_ids_*.txt
src/assets/skip_ids_*.txt
src/assets/updated_at.txt
temp_*